:root {

    /* Colores */

    --color-bg: #05090A;
    --color-surface: #101415;

    --color-text: #E0EAE9;
    --color-text-secondary: #686868;

    --color-accent: #218EF5;

    /* Tipografías */

    --font-heading: "unbounded", sans-serif;
    --font-body: "General Sans", sans-serif;

}


body {

    font-family: var(--font-body);
    font-weight: 400;

    color: var(--color-text);


    background-color: var(--color-bg);

    background-image: url("../assets/images/fondo.svg");

    background-repeat: repeat;

    background-size: 350px;

    
}

h1,
h2,
h3,
h4,
h5,
h6 {

    font-family: var(--font-heading);

    font-weight: 600;
    line-height: 1.1;

}

p {

    font-family: var(--font-body);

    font-weight: 400;

    line-height: 1.7;

}


/* ======================
   HEADER
====================== */
.header {

    position: fixed;

    top: 0;
    left: 0;

    width: 100%;

    z-index: 1000;

    padding: 1.5rem 2rem;

    background-color: transparent;

    transition: background-color 0.3s ease;
}


/* Fondo cuando el menú está abierto */

.header.menu-open {

    background-color: #05090A;
}




/* ======================
   NAVBAR
====================== */

.navbar {

    display: flex;

    justify-content: space-between;

    align-items: center;

}


/* ======================
   LOGO
====================== */

.nav-logo img {

    width: 150px;

    height: auto;

    display: block;

}


/* ======================
   MENU BUTTON
====================== */

.menu-toggle {

    background: none;

    border: none;

    cursor: pointer;

    display: flex;

    align-items: center;

    justify-content: center;

    padding: 0.5rem;

}


.menu-icon {
    margin-left: 50px;

    width: 24px;
    height: 24px;

    display: block;

    transition: transform 0.3s ease;

    transform-origin: center;
}


/* Estado abierto */

.menu-icon.active {

    transform: rotate(90deg) scale(1.05);

}


/* Cuando el menú esté abierto */

.menu-icon.active {

    transform: rotate(90deg) scale(1.05);

}


/* ======================
   HABLEMOS BUTTON
====================== */

.nav-contact-btn {

    margin-right: 50px;

    margin-left: 20px;

    font-family: var(--font-heading);

    font-weight: 500;

    font-size: 0.85rem;

    letter-spacing: 0.15em;

    text-transform: uppercase;

    color: #dbd8ce;

    text-decoration: none;

    padding: 0.85rem 1.5rem;

    border: 1px solid var(--color-text);

    border-radius: 25px;

    transition:
        background-color 0.3s ease,
        color 0.3s ease;
    
}


.nav-contact-btn:hover {

    background-color: #dbd8ce;

    color: var(--color-bg);

}


/* ======================
   DROPDOWN MENU
====================== */

.dropdown-menu {

    position: absolute;

    top: 100%;

    left: 0;

    width: 100%;

    background-color: #05090A;

    opacity: 0;

    visibility: hidden;

    pointer-events: none;

    transform: translateY(-10px);

    transition:
        opacity 0.3s ease,
        transform 0.3s ease,
        visibility 0.3s ease;

}


.dropdown-menu.active {

    opacity: 1;

    visibility: visible;

    pointer-events: auto;

    transform: translateY(0);

}


.dropdown-menu ul {

    list-style: none;

    display: flex;

    flex-direction: column;

    gap: 2.5rem;

    align-items: center;

    margin: 0;

    padding: 3rem;


}


.dropdown-menu a {

    text-decoration: none;

    color:  #dbd8ce;

    font-family: var(--font-heading);

    font-size: 3.5rem;

    font-weight: 600;

    transition: opacity 0.3s ease;

}


.dropdown-menu a:hover {

    scale: 1.5;

    opacity: 0.6;

}













.prueba {
    margin-top: 200px;
    width: 1200px;

    height: 1500px;
}

.prueba img {
    width: 100%;
    height: auto;
}