



<section id="proyectos-com" class="projects">

    <div class="projects-container">

        <!-- HEADER -->

        <div class="projects-header">

            <span class="projects-tag">02 / PROYECTOS</span>

            <span class="projects-year">2023 · 2026</span>

        </div>

        <!-- INTRO -->

        <div class="projects-intro">

            <h2>
                ÚLTIMOS<br>
                PROYECTOS
            </h2>

            <p>
                Pensamiento estratégico, construcción de sistemas visuales y diseño orientado a objetivos de negocio. Actualmente trabajo como diseñador independiente, desarrollando identidades visuales, contenido digital y experiencias de marca que buscan coherencia y confianza.
            </p>

        </div>

        <!-- FILA 1 -->

        <div class="project-row row-left">

            <a href="proyectos/proyecto-base.html" class="project-link">

                <article class="project-card large">

                    <img src="assets/images/no_photo.png" alt="">

                    <div class="project-info">

                        <h3>

                            NOMBRE PROYECTO

                            <svg xmlns="http://www.w3.org/2000/svg" width="17.731" height="17.137" viewBox="0 0 17.731 17.137">
                                <g transform="translate(0)">
                                    <rect width="3.808" height="19.676" transform="translate(13.913 .531) rotate(45)" fill="#dbd8ce"/>
                                    <rect width="3.808" height="17.137" transform="translate(13.922)" fill="#dbd8ce"/>
                                    <rect width="3.808" height="17.731" transform="translate(17.731) rotate(90)" fill="#dbd8ce"/>
                                </g>
                            </svg>

                        </h3>

                        <span>SERVICIO</span>

                    </div>

                </article>

            </a>

            <a href="proyecto2.html" class="project-link">

                <article class="project-card medium">

                    <img src="assets/images/no_photo.png" alt="">

                    <div class="project-info">

                        <h3>

                            NOMBRE PROYECTO

                            <svg xmlns="http://www.w3.org/2000/svg" width="17.731" height="17.137" viewBox="0 0 17.731 17.137">
                                <g transform="translate(0)">
                                    <rect width="3.808" height="19.676" transform="translate(13.913 .531) rotate(45)" fill="#dbd8ce"/>
                                    <rect width="3.808" height="17.137" transform="translate(13.922)" fill="#dbd8ce"/>
                                    <rect width="3.808" height="17.731" transform="translate(17.731) rotate(90)" fill="#dbd8ce"/>
                                </g>
                            </svg>

                        </h3>

                        <span>SERVICIO</span>

                    </div>

                </article>

            </a>

        </div>

        <!-- FILA 2 -->

        <div class="project-row row-center">

            <a href="proyecto3.html" class="project-link">

                <article class="project-card large">

                    <img src="assets/images/no_photo.png" alt="">

                    <div class="project-info">

                        <h3>

                            NOMBRE PROYECTO

                            <svg xmlns="http://www.w3.org/2000/svg" width="17.731" height="17.137" viewBox="0 0 17.731 17.137">
                                <g transform="translate(0)">
                                    <rect width="3.808" height="19.676" transform="translate(13.913 .531) rotate(45)" fill="#dbd8ce"/>
                                    <rect width="3.808" height="17.137" transform="translate(13.922)" fill="#dbd8ce"/>
                                    <rect width="3.808" height="17.731" transform="translate(17.731) rotate(90)" fill="#dbd8ce"/>
                                </g>
                            </svg>

                        </h3>

                        <span>SERVICIO</span>

                    </div>

                </article>

            </a>

        </div>

        <!-- FILA 3 -->

        <div class="project-row row-right">

            <a href="proyecto4.html" class="project-link">

                <article class="project-card small">

                    <img src="assets/images/no_photo.png" alt="">

                    <div class="project-info">

                        <h3>

                            NOMBRE PROYECTO

                            <svg xmlns="http://www.w3.org/2000/svg" width="17.731" height="17.137" viewBox="0 0 17.731 17.137">
                                <g transform="translate(0)">
                                    <rect width="3.808" height="19.676" transform="translate(13.913 .531) rotate(45)" fill="#dbd8ce"/>
                                    <rect width="3.808" height="17.137" transform="translate(13.922)" fill="#dbd8ce"/>
                                    <rect width="3.808" height="17.731" transform="translate(17.731) rotate(90)" fill="#dbd8ce"/>
                                </g>
                            </svg>

                        </h3>

                        <span>SERVICIO</span>

                    </div>

                </article>

            </a>

            <a href="proyecto5.html" class="project-link">

                <article class="project-card large">

                    <img src="assets/images/no_photo.png" alt="">

                    <div class="project-info">

                        <h3>

                            NOMBRE PROYECTO

                            <svg xmlns="http://www.w3.org/2000/svg" width="17.731" height="17.137" viewBox="0 0 17.731 17.137">
                                <g transform="translate(0)">
                                    <rect width="3.808" height="19.676" transform="translate(13.913 .531) rotate(45)" fill="#dbd8ce"/>
                                    <rect width="3.808" height="17.137" transform="translate(13.922)" fill="#dbd8ce"/>
                                    <rect width="3.808" height="17.731" transform="translate(17.731) rotate(90)" fill="#dbd8ce"/>
                                </g>
                            </svg>

                        </h3>

                        <span>SERVICIO</span>

                    </div>

                </article>

            </a>

            

        </div>

        <div class="btn-proyectos">
            <a href="proyectos.html" class="cta-button">
                TODOS LOS PROYECTOS
            </a>
        </div>

    </div>

</section>